h1 {
    font-size: 6rem;
    padding-bottom: 50px;
    margin-bottom: 0;
}

h4 {
    font-size: 25px;
    margin: 25px;
}

ul {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    padding-left: 0px;
}

li {
    padding-bottom: 10px;
    font-size: 20px;
    
}

button {
    margin-right: 10px;
    border-radius: 5px;
}

body {
    background-color: #2c8e50;
    text-align: center;
    color:whitesmoke;
}

.js-weather {
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.form, 
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

input {
    text-align: center;
    background: none;
    appearance: none;
    border: 0;
    font-size: 25px;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 25px;
}

/* ::placeholder {
    color:white;
} */


